                                                            /*Skjema (index.html)*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}   

h1, h2, p, li, label {
    color: #fff;
    margin: 0;
}

header {
    grid-column: 1/5;
    grid-row: 1/2;

}

#heading {
    grid-column: 1/5;
    grid-row: 2/3;
    margin: 3rem;
    h1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 250%;

        img {
            width: 46px;
            height: 44px;
        }
    }
}

main {
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: large;
    p {
        margin-bottom: 2rem;
    }
    
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    span {
        font-weight: 700;
    }

    #bottom {
        margin-top: 2rem;
        padding-bottom: 5rem;
        border-bottom: 5px solid white;
    }
    img {
        display: none;
    }
}

#aside1 {
    grid-column: 1/2;
    grid-row: 3/4 ;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    #dragon {
        width: 200px;
        position: absolute;
        margin-top: 5rem;
        z-index: 1;
    }
}

#aside2 {
    grid-column: 4/5;
    grid-row: 3/4;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
        margin-bottom: 10px;
    }
}

#pamelding {
    grid-column: 1/5;
    grid-row: 4/5;
   
    

    h2 {
        grid-column: 1/6;
        grid-row: 1/2;
        font-size: xx-large;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(8, 100px);
        padding: 2rem;
        gap: 1rem;

        #witch-fornavn, #witch-etternavn, #witch-epost, #witch-telefon, #witch-interesse {   
        display: none;
        grid-column: 1/2;
        justify-self: end;
        height: 95px;
        transform: scaleX(-1);
        }
        #witch-fornavn, #witch-etternavn, #witch-epost, #witch-telefon {
            align-self: end;
        }

        #mage-fornavn, #mage-etternavn, #mage-epost, #mage-telefon, #mage-interesse {
        display: none;
        grid-column: 5/6;
        justify-self: start;
        height: 80px;
        }
        #mage-fornavn, #mage-etternavn, #mage-epost, #mage-telefon {  
            align-self: end;
        }

        #input-field1, #input-field2, #input-field3, #input-field4, #input-field5 {
            grid-column: 2/5;
            align-content: end;

            input {
                height: 3.5rem;
                width: 100%;

                /*outline: 4px solid #ffd000;
                box-shadow: 0 0 10px #ffd000;*/
            }
            input:focus {
                outline: 4px solid #ffd000;
                box-shadow: 0 0 10px #ffd000;
            } 
        }
        #witch-fornavn, #mage-fornavn, #input-field1 {
            grid-row: 1/2;
        }
        #witch-etternavn, #mage-etternavn, #input-field2 {
            grid-row: 2/3;
        }
        #witch-epost, #mage-epost, #input-field3 {
            grid-row: 3/4;
        }
        #witch-telefon, #mage-telefon, #input-field4 {
            grid-row: 4/5;
        }
        #witch-interesse, #mage-interesse, #input-field5 {
            grid-row: 5/7;
        }

        #input-field5 {
            width: 100%;
            max-height: 100%;

            textarea {
                height: 90%;
                width: 100%;
            }
            textarea:focus {
            outline: 4px solid #ffd000;
            box-shadow: 0 0 10px #ffd000;
            }
        }

        #terms, #account {
            grid-column: 2/5;
            grid-row: 7/8;
        }
        
        #terms {
            margin-top: 1.5rem;
        }
        #account {
            margin-top: 3rem;
        }

        .btn {
            grid-column: 2/5;
            grid-row: 8/9;
            width: 100%;
            height: 3rem;
            padding: 0.5rem;
            font-size: medium;
            background-color: #ffe21f;
            border: 4px solid  #ff691f;
        }    
    }
}

@media only screen and (max-width: 500px) {
    #container {
        margin: 1rem;
    }
    header {
        img {
            width: 50%;
        }
    }
    #heading {
        grid-column: 1 / 5;
        margin: 0;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    main {
        grid-column: 1 / 5;
        #intro {
        text-align: center;
        }

        #mobileDragon {
            display: block;
            width: 50%;
            align-self: center;
        }
        #mobileHeart {
            display: block;
            width: 100%;
            padding: 1rem;
        }
    }
    #aside1, #aside2 {
        img {
            display: none;
        }
    }
    form {
        #account {
            margin-top: 5rem !important;
        }
        .btn {
            margin-top: 2rem;
        }
    }
}





                                                             /*Farge-palett*/
#grid-area {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 300px);


    #mage {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        height: 300px;
        width: 300px;
        
    }

    #darkBlue {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #0f3c5c;
        
    }

    #blue {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #1e9af3;
    }

    #lightBlue {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #61bdff;
    }

    #witch {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
       
        
        
        height: 300px;
        
    }
    #darkPurple {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #801b65;
    }

    #purple {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #e11282;
    }

    #lightPurple {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #ff6dbb;
    }

    #sub-grid1 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;

        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto);

        .skin-color {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #ebb49b;
        }

        .light-brown {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #9e5431;
        }

        .medium-brown {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #612d14;
        }

        .dark-brown {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color: #261107;
        }

        .beard-light {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color:  #f7f9fa;
        }

        .beard-dark {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color: #aeb4b8;
        }
    }

    #sub-grid2 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(5, auto);

        
        .skin-color {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #ebb49b;
        }

        .skin-shadow {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #e09e82;
        }

        .light-brown {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #9e5431;
        }

        .medium-brown {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 3;

            background-color: #612d14;
        }

        .light-blonde {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color: #ffd829;
        }

        .blonde {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color: #ffd000;
        }

        .dark-blonde {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;

            background-color: #d1a700;
        }
    }


   

    /*
    

    dark red: #94001e
    red: #d6002e

    light blonde: #ffd829
    blonde: #ffd000
    dark blonde: d1a700

    */
}